<div class="card my-7">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Date</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Genre</th>
        <th scope="col">Count</th>
        <th scope="col">B. Times</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.id}}</td>
        <td>{{ book.release_date }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author}}</td>
        <td>{{ book.genre }}</td>
        <td>{{ book.count }}</td>
        <td>{{ book.borrowed_times }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
