<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">UserID</th>
        <th scope="col">Username</th>
        <th scope="col">BookID</th>
        <th scope="col">Book</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of borrowed_books">
        <td>{{ book.id}}</td>
        <td>{{ book.userID }}</td>
        <td>{{ book.username }}</td>
        <td>{{ book.bookID}}</td>
        <td>{{ book.book }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
